@import '../../../../../../theme/staffit-style-1.scss';

.book-cell {
    position: relative;
    display: flex;
    padding: 25px;
    width: 100%;
    margin-bottom: 10%;
    height: 250px;
    margin-right: 1px;
    border-bottom: 0.1px solid #80808026;
    color: gray;
}

.book-img {
    flex-shrink: 0;
}

.book-state{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    gap: 1rem;
}

.book-photo {
    width: 180px;
    flex-shrink: 0;
    bottom: -35px;
    left: 35px;
    border-radius: 2px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: .3s ease;
    &:hover {
     transform: scale(1.03);
    }
   }

.book-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }
   
   .book-title {
    font-weight: 600;
   }
   
   .book-author {
    margin-top: 3px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }
   
   .book-content {
    padding: 0 20px;
    overflow: hidden;
   }

   .book-voters {
    vertical-align: sub;
    font-size: 13px;
    margin-left: 7px;
    white-space: nowrap;
    margin-top: 7px;
   }

   .book-sum {
    margin-top: 20px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   }
   
   .book-see {
    margin-top: 25px;
    text-align: center;
    background: #ffb0b0f0;
    color: white;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    width: 160px;
    border-radius: 20px;
    &:hover {
     color: #ff6e72;
    }
    &.book-blue {
     color: #a4e0eb;
     &:hover {
      color: #22cdec;
     }
    }
    &.book-pink {
     color: #edb9d6;
     &:hover {
      color: #ff6dbe;
     }
    }
    &.book-yellow {
     color: #fdca95;
     &:hover {
      color: #fb9124;
     }
    }
    &.book-purple {
     color: #cbb5e2;
     &:hover {
      color: #a764ec;
     }
    }
   }

   .introduction{
    width: 90%;
    word-break: break-word;
    margin: 5%;
    text-align: justify;
    font-size: 1rem;
    margin-top: 5rem;
    line-height: 1.5rem;
    color: gray;
}

.circle-content{
    position: relative;
}
 
/* 
    --------------
    DYNAMIC CIRCLE
    --------------
*/
 
.circle {
    width: 30px;
    height: 30px;
    border: 0px solid #c2c2c2;
    border-radius:120px;
    line-height:200px;
    text-align:center;
    color:#ddd;
    font-size:25px;
    font-weight:600;
    position: absolute;
    overflow:hidden;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 
.circle:before {
    content:"";
    position:absolute;
    width:85px;
    height:85px;
    background-color: var(--tooltip-color);
    left:50%;
    transform:translateX(-50%);
    border-radius:40%;
    animation:fill 3s ease-in-out;
    z-index:-1;
}
 
@keyframes fill {
    from {
        top:30px;
        transform:translateX(-50%) rotate(0deg);
    }
    to {
        top:-50px;
        transform:translateX(-50%) rotate(360deg);
    }
}

   @media (max-width: 1103px) {
    .book-cell {
      width: 100%;
      margin-bottom: 10%;
    }
   }
   
   @media (max-width: 765px) {
    .book-cell {
      width: 100%;
      margin-bottom: 10%;
    }
   }
   
   @media (max-width: 575px) {
    .book-cell {
      width: 100%;
      margin-bottom: 10%;
    }
   }
   
   @media (max-width: 458px) {
    .book-photo {
     width: 180px;
    }
    .book-voters {
     display: none;
    }
   }
   
   @media (max-width: 420px) {
    .book-see {
     width: 120px;
     font-size: 13px;
    }
    .book-photo {
     width: 5rem;
    }
    .main-wrapper {
     margin-top: 50px;
    }
    .introduction{
        margin-top: 0px;
        font-size: 13px;
    }
   }
   
   @media (max-width: 360px) {
    .rating > label:before {
     font-size: 0.8em;
    }
   }
   
   @media (max-width: 1220px) {
    .card-vote {
     display: none;
    }
   }
   
   @media (max-width: 1085px) {
    .book-rate > label {
     font-size: .7em;
   }
   }
   
   @media (max-width: 1045px) {
    .books-of {
     display: none;
   }
   }
   
   @media (max-width: 725px) {
    .browse-category, .search-bar {
     display: none;
   }
    .header-title {
     margin-right: auto;
    }
    .book-cards {
     grid-template-columns: 1fr;
    }
    .book-types {
     display: none;
    }
   }
   
   @media (max-width: 372px)  {
    .card-content {
     padding: 20px;
    }
   }

